.item {
    height: 350px;
    display: flex;
    flex-direction: column;
    width: 22%;
    .image-preview {
        height: 95%;
        width: 100%;
        background-size: cover;
        background-position: center;
    }
    .item-footer {
        font-size: 18px;
        height: 5%;
        display: flex;
        justify-content: space-between;
    }
}